[Desktop Entry]
Name=Utah Evening Eedited
X-KDE-PluginInfo-Name=Utah-Evening-Edited
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
