[Desktop Entry]
Name=Windows-Eleven-02
X-KDE-PluginInfo-Name=Windows-Eleven-02
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
