[Desktop Entry]
Name=Colored-Smoke
X-KDE-PluginInfo-Name=Colored-Smoke
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
